In [1]:
import pandas as pd

from modules.DTSequences import OCO_Sequence

In [2]:
path = 'data/'

In [3]:
e10 = OCO_Sequence(path + '-40mV/e10dwell_timesy.txt', '-40mV', False)
e24 = OCO_Sequence(path + '-40mV/e24dwell_timesy.txt', '-40mV', False)
e38 = OCO_Sequence(path + '-40mV/e38dwell_timesy.txt', '-40mV', True)
e45 = OCO_Sequence(path + '-40mV/e45dwell_timesy.txt', '-40mV', False)
e66 = OCO_Sequence(path + '-40mV/e66dwell_timesy.txt', '-40mV', True)
e20  = OCO_Sequence(path + '40mV/e20dwell_timesy.txt', '40mV', True)
e34  = OCO_Sequence(path + '40mV/e34dwell_timesy.txt', '40mV', True)
e41  = OCO_Sequence(path + '40mV/e41dwell_timesy.txt', '40mV', True)

In [4]:
e10_df = e10.make_DataFrame()
e24_df = e24.make_DataFrame()
e38_df = e38.make_DataFrame()
e45_df = e45.make_DataFrame()
e66_df = e66.make_DataFrame()
e20_df = e20.make_DataFrame()
e34_df = e34.make_DataFrame()
e41_df = e41.make_DataFrame()

In [5]:
df_40 = pd.concat([e10_df, e24_df, e38_df, e45_df, e66_df, e20_df, e34_df, e41_df], ignore_index=True)

In [6]:
df_40.head()

         o1         c        o2 category
0  0.002294  0.170213  0.059393    -40mV
1  0.059393  0.031915  0.001020    -40mV
2  0.001020  0.095745  0.032373    -40mV
3  0.032373  0.031915  0.294927    -40mV
4  0.294927  0.638298  0.023961    -40mV

In [7]:
df_40.drop('category', axis=1, inplace=True)

In [8]:
df_40.head()

         o1         c        o2
0  0.002294  0.170213  0.059393
1  0.059393  0.031915  0.001020
2  0.001020  0.095745  0.032373
3  0.032373  0.031915  0.294927
4  0.294927  0.638298  0.023961

In [9]:
df_40.to_csv('prepared_dataset/40_mV_OCO_sequences.csv', index=False)