In [1]:
import pandas as pd

from modules.DTSequences import OCO_Sequence

In [2]:
path = 'data/'

### 20mV (hyperpolarization & depolarization) Sequences

In [3]:
e9 = OCO_Sequence(path + '-20mV/e9dwell_timesy.txt', '-20mV', False)
e37 = OCO_Sequence(path + '-20mV/e37dwell_timesy.txt', '-20mV', True)
e44 = OCO_Sequence(path + '-20mV/e44dwell_timesy.txt', '-20mV', True)
e65 = OCO_Sequence(path + '-20mV/e65dwell_timesy.txt', '-20mV', True)
e72 = OCO_Sequence(path + '-20mV/e72dwell_timesy.txt', '-20mV', False)
e79 = OCO_Sequence(path + '-20mV/e79dwell_timesy.txt', '-20mV', True)
e14 = OCO_Sequence(path + '20mV/e14dwell_timesy.txt', '20mV', False)
e21 = OCO_Sequence(path + '20mV/e21dwell_timesy.txt', '20mV', False)
e35 = OCO_Sequence(path + '20mV/e35dwell_timesy.txt', '20mV', True)
e42 = OCO_Sequence(path + '20mV/e42dwell_timesy.txt', '20mV', True)
e49 = OCO_Sequence(path + '20mV/e49dwell_timesy.txt', '20mV', False)

In [4]:
e9_df = e9.make_DataFrame()
e37_df = e37.make_DataFrame()
e44_df = e44.make_DataFrame()
e65_df = e65.make_DataFrame()
e72_df = e72.make_DataFrame()
e79_df = e79.make_DataFrame()
e14_df = e14.make_DataFrame()
e21_df = e21.make_DataFrame()
e35_df = e35.make_DataFrame()
e42_df = e42.make_DataFrame()
e49_df = e49.make_DataFrame()

In [5]:
df_20 = pd.concat([e9_df, e37_df, e44_df, e65_df, e72_df, e79_df, e14_df, e21_df, e35_df, e42_df, e49_df])

In [6]:
df_20.head()

         o1         c        o2 category
1  0.479905  0.000000  0.731678    -20mV
2  0.731678  0.085809  0.044917    -20mV
3  0.044917  0.056106  0.014184    -20mV
4  0.014184  0.039604  0.002364    -20mV
5  0.002364  0.660066  0.143026    -20mV

In [7]:
df_20.drop('category', axis=1, inplace=True)

In [8]:
df_20.to_csv('prepared_dataset/20_mV_OCO_sequences.csv', index=False)

### 40mV (hyperpolarization & depolarization) Sequences

In [9]:
e10 = OCO_Sequence(path + '-40mV/e10dwell_timesy.txt', '-40mV', False)
e24 = OCO_Sequence(path + '-40mV/e24dwell_timesy.txt', '-40mV', False)
e38 = OCO_Sequence(path + '-40mV/e38dwell_timesy.txt', '-40mV', True)
e45 = OCO_Sequence(path + '-40mV/e45dwell_timesy.txt', '-40mV', False)
e66 = OCO_Sequence(path + '-40mV/e66dwell_timesy.txt', '-40mV', True)
e20  = OCO_Sequence(path + '40mV/e20dwell_timesy.txt', '40mV', True)
e34  = OCO_Sequence(path + '40mV/e34dwell_timesy.txt', '40mV', True)
e41  = OCO_Sequence(path + '40mV/e41dwell_timesy.txt', '40mV', True)

In [10]:
e10_df = e10.make_DataFrame()
e24_df = e24.make_DataFrame()
e38_df = e38.make_DataFrame()
e45_df = e45.make_DataFrame()
e66_df = e66.make_DataFrame()
e20_df = e20.make_DataFrame()
e34_df = e34.make_DataFrame()
e41_df = e41.make_DataFrame()

In [11]:
df_40 = pd.concat([e10_df, e24_df, e38_df, e45_df, e66_df, e20_df, e34_df, e41_df], ignore_index=True)

In [12]:
df_40.head()

         o1         c        o2 category
0  0.002294  0.170213  0.059393    -40mV
1  0.059393  0.031915  0.001020    -40mV
2  0.001020  0.095745  0.032373    -40mV
3  0.032373  0.031915  0.294927    -40mV
4  0.294927  0.638298  0.023961    -40mV

In [13]:
df_40.drop('category', axis=1, inplace=True)

In [14]:
df_40.head()

         o1         c        o2
0  0.002294  0.170213  0.059393
1  0.059393  0.031915  0.001020
2  0.001020  0.095745  0.032373
3  0.032373  0.031915  0.294927
4  0.294927  0.638298  0.023961

In [15]:
df_40.to_csv('prepared_dataset/40_mV_OCO_sequences.csv', index=False)

### 60mV (hyperpolarization & depolarization) Sequences

In [16]:
e18 = OCO_Sequence(path + '-60mV/e18dwell_timesy.txt', '-60mV', False)
e39 = OCO_Sequence(path + '-60mV/e39dwell_timesy.txt', '-60mV', False)
e46 = OCO_Sequence(path + '-60mV/e46dwell_timesy.txt', '-60mV', False)
e67 = OCO_Sequence(path + '-60mV/e67dwell_timesy.txt', '-60mV', False)
e19 = OCO_Sequence(path + '60mV/e19dwell_timesy.txt', '60mV', True)
e33 = OCO_Sequence(path + '60mV/e33dwell_timesy.txt', '60mV', True)
e40 = OCO_Sequence(path + '60mV/e40dwell_timesy.txt', '60mV', True)

In [17]:
e18_df = e18.make_DataFrame()
e39_df = e39.make_DataFrame()
e46_df = e46.make_DataFrame()
e67_df = e67.make_DataFrame()
e19_df = e19.make_DataFrame()
e33_df = e33.make_DataFrame()
e40_df = e40.make_DataFrame()

In [18]:
df_60 = pd.concat([e18_df, e39_df, e46_df, e67_df, e19_df, e33_df, e40_df], ignore_index=True)

In [19]:
df_60.head()

         o1         c        o2 category
0  0.197674  0.338843  0.029517    -60mV
1  0.029517  0.024793  0.228980    -60mV
2  0.228980  0.008264  0.025939    -60mV
3  0.025939  0.132231  0.072451    -60mV
4  0.072451  0.024793  0.002683    -60mV

In [20]:
df_60.drop('category', axis=1, inplace=True)

In [21]:
df_60.to_csv('prepared_dataset/60_mV_OCO_sequences.csv', index=False)